:host {
  width: 100%;
}
.message-list {
  display: flex;
  flex-direction: column;
  max-height: 450px;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (max-width: 430px) {
  .message-list {
    max-height: 350px;
  }
}
