.tags {
    width: 100%;
    background-color: #ecefec;
    height: 3rem;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 8px;
    display: flex;
    justify-content: space-around;

    .topics {
        display: flex;
        align-items: center;
        color: gray;
        padding-right: 10px;
        .star {
            color: rgb(249, 7, 204);
        }
    }

    .tag {
        display: flex;
    }
}